
*.d
*.cmake
*.check_cache
*.o
*.make
*.log
*.ts
build/CMakeFiles/Makefile2
*.marks
build/CMakeFiles/TargetDirectories.txt
build/Makefile
*.out
*.json
build/3D_object_tracking
build/CMakeCache.txt
*.bin
*.c
build/CMakeFiles/3.20.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.internal
build/CMakeFiles/3D_object_tracking.dir/link.txt
